body {
  text-align: center;
  font-family: Arial;
  background: pink;
  padding-top: 100px;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: red;
  color: white;
}
